# Folders
research_papers
ckpt
prompt_engineering/output
agent_based_modelling/output


#Python files
__pycache*
**.pytest_cache
**/**.ipynb

# Environment variables
tests/env_vars.yml

# Temporary Files
**/**.temp
temp*

# Bash scripts
**/**.sh


# Logs
**/**.log

# Dataset Files
**/**.arrow
**/**.pkl
data/**.json
data


# Document files
**/**.txt
**/**.csv
**/**.html
**/**.pdf
**/**.yml
**/**.png
**/**.json

# VSCode settings
**/**workspace
.vscode/