# Folders
research_papers
ckpt
prompt_engineering/output

#Python files
__pycache*
**.pytest_cache
**/**.ipynb

# Environment variables
tests/env_vars.yml

# Temporary Files
**/**.temp
temp*

# Bash scripts
**/**.sh


# Logs
**/**.log
/logging/

# Dataset Files

# Data / Document files
**/**.txt
**/**.csv
**/**.html
**/**.pdf
**/**.yml
**/**.yaml
**/**.png
**/**.json
**/**.parquet
**/**.arrow
**/**.pkl
**yaml

# VSCode settings
**/**workspace
.vscode/