# Folders
research_papers
ckpt

#Python files
__pycache*
**.pytest_cache

# Environment variables
tests/env_vars.yml

# Temporary Files
**/**.temp
temp*

# Dataset Files
**/**.arrow
**/**.pkl


# Document files
**/**.txt
**/**.csv
**/**.html
**/**.pdf
**/**.yml
**/**.png

# VSCode settings
**/**workspace
.vscode/